    body {
        margin: 0;
        font-family: 'Cardo', serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Raleway', sans-serif;
        font-size: 14 px;
        color: #6c7279;
        background-color: #fff;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
    
    p {
        margin: 0 0 10px;
    }
    /*container
============================= */
    
    .container {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
    }
    /*header
============================= */
    
    .header {
        height: 100px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000px;
    }
    
    .header__top {
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #50536a;
        padding: 40px;
    }
    /*nav
============================= */
    
    .menu {
        display: flex;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .menu__item {
        margin-left: 50px;
        color: #fff;
        text-decoration: none;
        opacity: .75;
        transition: opacity .1s;
    }
    
    .menu__item:first-child {
        margin-left: 0;
    }
    
    .menu__item:hover {
        opacity: 1;
    }
    /*intro
============================= */
    
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 100px;
        height: 750px;
        background: #31344e url(img/intro_cover.jpg) center no-repeat;
        background-size: cover;
    }
    
    .intro__content {
        width: 100%;
        max-width: 970px;
        margin: 0 auto;
        text-align: center;
    }
    
    .intro__title {
        margin: 0 0 30px;
        font-family: 'Open Sans', sans-serif;
        font-size: 65px;
        line-height: 1.1;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .intro__subtitle {
        font-family: Raleway;
        margin-bottom: 60px;
        font-size: 22px;
        line-height: 1.5;
        color: #fff;
        font-weight: 400;
        opacity: .7;
    }
    /*button
============================= */
    
    .btn {
        display: inline-block;
        vertical-align: top;
        font-family: raleway;
        font-size: 13;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        padding: 18px 45px;
        border-radius: 2px;
        border: 0;
        transition: color .1s linear;
    }
    
    .btn--red {
        background-color: #e84545;
    }
    
    .btn--red:hover {
        background-color: #f11827;
    }